{% extends 'main.html' %}

{%load static%}
{% block bloqueMutable %}

  <h2 style="text-align:center">About Me</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
         <img src="{% static '../static/assets/img/yo.png' %}" alt="Mi Foto" class="img-fluid rounded-circle">
        <h2>Alejandro Pantuliano</h2>
        <p>Estudie en el Instituto ORT la carrera de Analista de Sistemas realice los cursos en CODERHOUSE de JavaScript , Ciberseguridad y Python</p>
        <p>alepantuliano@hotmail.com</p>  
      </div>
    </div>
  </div>

{% endblock bloqueMutable %}