{% extends 'main.html' %}

{% block bloqueMutable %}
            <h1>Seccion de Pedidoss</h1>
            <p>
                Lista de Pedidos
            </p>

            <table class="table">
              <thead>
                  <tr>
                      <th scope="col">Fecha</th>
                      <th scope="col">Productos</th>
                      <th scope="col">Usuario</th>
                  </tr>
              </thead>
              <tbody>
                  {% for pedido in pedidos %}
                  <tr>
                    <td>{{ pedido.fecha }}</td>
                    <td>
                        {% for prod in pedido.productos.all%}
                        <ul>{{ prod.nombre}} </ul>
                        {% endfor %}  
                    </td>    
                    <td>{{ pedido.user }}</td>
                      {%if user.is_staff%}
                      <td><a type="button" class="btn btn-warning" href="{% url 'ActualizarPedido' pedido.id %}"><i class="bi bi-pencil-square"></i></a>
                          <a type="button" class="btn btn-danger" href="{% url 'EliminaPedido' pedido.id %}"><i class="bi bi-trash"></i></a>
                      </td>
                      {% endif%}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>

                {% if user.is_authenticated and not user.is_staff %}    
                <a class="btn btn-primary" href="../pedido-formulario" role="button"> <i class="bi bi-cart">Hacer Pedido</i></a>
                {% endif %}
            
{% endblock bloqueMutable %}