{% extends 'main.html' %}

{% block bloqueMutable %}
            <h1>Seccion de Productos</h1>
            <p>
                Lista de Productos
            </p>

            <table class="table">
              <thead>
                  <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Modelo</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Stock</th>
                  </tr>
              </thead>
              <tbody>
                  {% for producto in productos %}
                  <tr>
                      <td>{{ producto.nombre }}</td>
                      <td>{{ producto.tipo }}</td>
                      <td>{{ producto.modelo }}</td>
                      <td>{{ producto.descripcion }}</td>
                      <td>{{ producto.stock }}</td>
                      {%if user.is_staff%}
                      <td><a type="button" class="btn btn-warning" href="{% url 'ActualizarProducto' producto.id %}"><i class="bi bi-pencil-square"></i></a>
                          <a type="button" class="btn btn-danger" href="{% url 'EliminaProducto' producto.id %}"><i class="bi bi-trash"></i></a>
                      </td>
                      {% endif%}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>

                {% if user.is_staff %}
                <a class="btn btn-primary" href="../producto-formulario" role="button"> <i class="bi bi-plus"> Crear Producto</i></a>
                {% endif %}
                {% if not user.is_staff %}
                <a class="btn btn-primary" href="../pedido-formulario" role="button"> <i class="bi bi-cart">Hacer Pedido</i></a>
                {% endif %}

            <a class="btn btn-primary" href="../busqueda-producto" role="button"><i class="bi bi-search"> Buscar</i></a>
{% endblock bloqueMutable %}