{% extends 'main.html' %}

{% block bloqueMutable %}
            <h1>Seccion de Productos</h1>
            <p>
                Lista de Productos
            </p>

            <ul>
        
                {% for producto  in productos %}
                
                    <li>{{producto}}</li>
                    
                {% endfor %}
                    
        
            </ul>

            <a class="btn btn-primary" href="../producto-formulario" role="button"> Agregar Producto </a>
{% endblock bloqueMutable %}