{% extends 'main.html' %}

{% block bloqueMutable %}
            <h1>Seccion de Productos</h1>
            <p>
                Lista de Productos
            </p>

            <table class="table">
              <thead>
                  <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Modelo</th>
                      <th scope="col">Descripcion</th>
                  </tr>
              </thead>
              <tbody>
                  {% for producto in productos %}
                  <tr>
                      <td>{{ producto.nombre }}</td>
                      <td>{{ producto.tipo }}</td>
                      <td>{{ producto.modelo }}</td>
                      <td>{{ producto.descripcion }}</td>
                      {%if user.is_staff%}
                      <td><a type="button" class="btn btn-warning" href="{% url 'ActualizarProducto' producto.id %}">Actualizar</a>
                          <a type="button" class="btn btn-danger" href="{% url 'EliminaProducto' producto.id %}">Eliminar</a>
                      </td>
                      {% endif%}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>

                {% if user.is_staff %}
                <a class="btn btn-outline-primary" href="../producto-formulario" role="button"> Agregar Producto </a>
                {% endif %}
            <a class="btn btn-outline-primary" href="../busqueda-producto" role="button"> Buscar Producto </a>
{% endblock bloqueMutable %}