{% extends 'main.html' %}

{% block bloqueMutable %}
            <h1>Seccion de Proveedores</h1>
            <p>
                Lista de Proveedores
            </p>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">CUIT</th>
                        <th scope="col">Email</th>
                        <th scope="col">NroProveedor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores %}
                    <tr>
                        <td>{{ proveedor.nombre }}</td>
                        <td>{{ proveedor.cuit }}</td>
                        <td>{{ proveedor.email }}</td>
                        <td>{{ proveedor.numero }}</td>
                         <td><a type="button" class="btn btn-warning" href="{% url 'ActualizarProveedor' proveedor.id %}"><i class="bi bi-pencil-square"></i></a>
                            <a type="button" class="btn btn-danger" href="{% url 'EliminaProveedor' proveedor.id %}"><i class="bi bi-trash"></i></a>
                        </td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" href="../proveedor-formulario" role="button"> <i class="bi bi-plus"></i> </a>
{% endblock bloqueMutable %}